.bg-green{ background-color: #68D9A4; }
.bg-blue{ background-color: #3282F7; }
.bg-red{ background-color: #ED6454; }
.txt-white{ color: white; }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    padding: 0 10%;
}
/* ============= HEADER ============= */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 1rem 2rem;
}
.logo{
    width: 100%;
    max-width: 300px;
}

/* ============= SEARCH ============= */
.search__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 0.375rem;
    border: 1px solid #ced4da;
    background-color: #E7E7E7;
    margin-bottom: 1rem;
}
.magnifier{
    background-color: #E7E7E7;
    border: none;
    transition: all 0.25s ease-in-out;
}
.magnifier:active{
    cursor: pointer;
    height: 90%;
}
#searchBar{
    border: none;
    background-color: #E7E7E7;
}
#searchBar::placeholder{
    color: rgba(0, 0, 0, 0.4);
}
.search-icon{ 
    height: 100%; 
    max-width: 1.8rem;
}
.argument__container{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}
.argument { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    margin: 0;
}
.search__advanced{
    padding:0;
    margin:0;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}
.search__advanced__list{
    border-radius: 5px;
    list-style: none;
    max-width: 50vw;
    height: 60px;
}

.advanced__search__button {
    height: 100%;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}
p.search__advanced__text {
    margin: 0px;
    padding: .5rem;
}
.arrow { height: 10px; }
.arrow-down{ transform: rotate(0deg); }
.arrow-up{ transform: rotate(180deg); }
.btn-transparent{
    border: 0px solid white;
    background: transparent;
}
.btn:hover {
    color: white;
    background-color: darkgray;
    border-color: transparent;
}
.search__advanced__input{
    padding: .5rem;
    width: 100%;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8)
}
.search__advanced__input::placeholder{ color: rgba(255, 255, 255, 0.8); }
.search__advanced__arguments{
    position: relative;
    z-index: 5;
    bottom: 5px;
    display: flex;
    flex-flow: row wrap;
    gap: 0rem;
    justify-content: space-between;
    align-items: center;
    max-width: 50vw;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}
.search-btn{
    border: none;
    min-width: 150px;
    width: 33.33333%;
    max-width: 300px;
    height: 50px;
}

/* ============= RECIPES ============= */
.recipes{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
}
.recipes__not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20rem;
    width: 100%;
    margin: auto;
    font-weight: 700;
    color: #D04F4F;
}
.recipe__card{
    margin: 1rem 0;
    padding: 0;
    border-radius: 5px;
    border: 2px solid transparent;
    height: 25rem;
    max-width: 1000px;
    min-width: 300px;
    width: 30%;
    background-color: #E7E7E7;
}
.recipe__text{ padding: 1rem; }
.card-img-top{
    height: 200px;
    object-fit: cover;
    background-color: #C7BEBE;
}

.recipe__top-text, .recipe__down-text{
    font-size: .85rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-items: flex-start;
    justify-content: space-between;
}

/* == top text == */
.card-title{
    font-size: 1rem;
    text-overflow: ellipsis;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
}
.card__cooking-time{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .3rem;
    font-size: 1rem;
    font-weight: 700;
}
.cooking-time{ white-space: nowrap; }
.clock-icon{ width: 1rem;}


/* == down text == */
.recipe__down-text{
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    font-size: 0.70rem;
}
.recipe__ingredient{
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}
.recipe__ingredient__item{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;
    width: 100%;
    white-space: nowrap;
}
.recipe__ingredient__name{ 
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%; 
}
.recipe__quantity{
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    width: 100%;
}
.recipe__description{
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Nombre maximum de lignes à afficher */
    -webkit-line-clamp: 6;
    -moz-line-clamp: 6;
    /* Hauteur maximale du conteneur */
    width: 50%;
    margin: 0;
    padding: 0;
}


@media (max-width: 1170px) {
    .recipe__card {
        flex-grow: 1;
        max-width: calc(50% - 1rem); 
        width: calc(50% - 1rem);
    }
}
@media (max-width: 770px) {
    .recipe__card {
        flex-grow: 1;
        max-width: 100%;
        width: 100%;
    }
}